<form method="GET" action="/title">
    <table>
        <tr>
            <td>
                <button type="submit">A</button>
                <button type="submit">B</button>
                <button type="submit">C</button>
                <button type="submit">D</button>
                <button type="submit">E</button>
            </td>
           
        </tr>
        <tr>
            <td>
                <button type="submit">F</button>
                <button type="submit">G</button>
                <button type="submit">H</button>
                <button type="submit">I</button>
                <button type="submit">J</button>
            </td>
            
        </tr>
        <tr>
            <td>
                <button type="submit">K</button>
                <button type="submit">L</button>
                <button type="submit">M</button>
                <button type="submit">N</button>
                <button type="submit">O</button>
            </td>
            
        </tr>
        <tr>
            <td>
                <button type="submit">P</button>
                <button type="submit">Q</button>
                <button type="submit">R</button>
                <button type="submit">S</button>
                <button name="letter" type="submit" value="T">T</button>
            </td>
            
        </tr>
        <tr>
            <td>
                <button type="submit">U</button>
                <button type="submit">V</button>
                <button type="submit">W</button>
                <button type="submit">X</button>
                <button type="submit">Y</button>
            </td>
            
        </tr>
        <tr>
            <td>
                <button type="submit">Z</button>
            </td>
            
        </tr>
    </table>
</form>